#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}
#main-cnpj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}

body {
  display: flex;
}

input {
  border-radius: 15px;
  text-align: center;
  font-size: large;
}

.btn.btn-primary {
  margin: 10px;
}
.btn.btn-primary:hover {
  margin: 10px;
  transform: scale(1.05);
}
